* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1400px;
  margin: auto;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-color: #00995f;
  border: solid 1px rgba(53, 176, 110, 0.182);
}

.htn {
  color: rgb(255, 7, 7) !important;
  text-align: center;
  margin-top: 80px;
}

.qwer {
  margin-left: 44%;
  margin-top: 30px;
  position: relative;
  display: inline-block;
  background-color: #3498db; /* Tugma asosiy rangi */
  color: white; /* Matn rangi */
  padding: 15px 30px; /* Tugma ichki joyi */
  border: none; /* Chegarasiz */
  border-radius: 10px; /* Yumshoq burchaklar */
  font-size: 16px; /* Matn o'lchami */
  cursor: pointer; /* Ko'rsatkichni o'zgartiradi */
  overflow: hidden; /* Tugma ichidagi elementlar uchun */
  transition: all 0.3s ease; /* Barchasini animatsiya qilish */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Tugma soyasi */
}

.qwer::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s ease-out, opacity 2.5s ease;
  z-index: 0;
}

.qwer:hover {
  background-color: #2980b9;
}

.qwer:hover::before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
body.dark-mode nav {
  background-color: #121212;
}
body.dark-mode nav .navChild2 ul li {
  color: hsla(155, 66%, 39%, 0.885);
  position: relative;
}
body.dark-mode nav .navChild2 ul li:hover, body.dark-mode nav .navChild2 ul li.active {
  color: hsl(162, 96%, 46%) !important;
  transition: color 0.3s;
}
body.dark-mode nav .navChild2 ul li:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 2px;
  background: hsla(155, 66%, 39%, 0.885);
  transform: scaleX(0);
  transition: transform 0.3s;
}
body.dark-mode nav .navChild2 ul li:hover:after, body.dark-mode nav .navChild2 ul li.active:after {
  transform: scaleX(1);
}
body nav {
  background-color: #ffffff;
}
body nav .navChild2 ul li {
  color: hsla(155, 66%, 39%, 0.885);
  position: relative;
}
body nav .navChild2 ul li:hover, body nav .navChild2 ul li.active {
  color: hsla(155, 66%, 39%, 0.885) !important;
  transition: color 0.3s;
}
body nav .navChild2 ul li:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 2px;
  background: hsla(155, 66%, 39%, 0.885);
  transform: scaleX(0);
  transition: transform 0.3s;
}
body nav .navChild2 ul li:hover:after, body nav .navChild2 ul li.active:after {
  transform: scaleX(1);
}

nav {
  width: 1400px;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: solid 1px grey;
}
nav .navChild1 img {
  width: 250px;
  cursor: pointer;
}
nav .navChild2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav .navChild2 ul li {
  cursor: pointer;
  list-style: none;
  position: relative;
  font-size: 12px;
  font-weight: 700;
}
nav .navChild3 {
  display: flex;
}
nav .navChild3 button {
  width: 130px;
  height: 40px;
  background-color: #00c073;
  border: none;
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
  margin-left: 10px;
  background-image: linear-gradient(135deg, #00c073, #008d54);
}
nav .navChild3 button:hover {
  background-image: linear-gradient(135deg, #008d54, #00c073);
  color: #ffffff;
  transform: translateY(-1px) scale(1.01);
}
nav .navChild3 button:active {
  transform: translateY(1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
nav .navChild4 img {
  width: 20px;
  cursor: pointer;
}
nav .navChild4 img:hover {
  filter: brightness(1.2);
}

.commentBtn {
  transition: 1s ease;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  width: 300px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 10px;
  background-image: url(https://t4.ftcdn.net/jpg/03/08/93/49/360_F_308934934_FNBbSzY5fpgW5wQGdyRWOEZJcLUa2Hh7.jpg);
  z-index: 98;
  background-position: center;
  color: white;
}
.commentBtn img {
  width: 100px;
}
.commentBtn h2 {
  font-size: 18px;
}

.commentBtn:hover {
  background-position: right;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: transform 13s ease;
  transform: translateY(-100%);
}

.login-form,
.welcome-message {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: red;
  margin: 10px 0;
}

a {
  text-decoration: none;
}

.A_p1 {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.A_p1 h2 {
  text-align: center;
}
.A_p1 .swiperChild1,
.A_p1 .swiperChild2,
.A_p1 .swiperChild3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.A_p1 .swiperChild1 .A_p1-s1,
.A_p1 .swiperChild2 .A_p1-s1,
.A_p1 .swiperChild3 .A_p1-s1 {
  width: 40%;
}
.A_p1 .swiperChild1 .A_p1-s1 h1,
.A_p1 .swiperChild2 .A_p1-s1 h1,
.A_p1 .swiperChild3 .A_p1-s1 h1 {
  font-size: 60px;
  margin-bottom: 10px;
}
.A_p1 .swiperChild1 .A_p1-s1 h1 span,
.A_p1 .swiperChild2 .A_p1-s1 h1 span,
.A_p1 .swiperChild3 .A_p1-s1 h1 span {
  color: rgb(41, 202, 156);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.A_p1 .swiperChild1 .A_p1-s1 h2,
.A_p1 .swiperChild2 .A_p1-s1 h2,
.A_p1 .swiperChild3 .A_p1-s1 h2 {
  text-align: start;
  margin-bottom: 10px;
}
.A_p1 .swiperChild1 .A_p1-s1 button,
.A_p1 .swiperChild2 .A_p1-s1 button,
.A_p1 .swiperChild3 .A_p1-s1 button {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  background-color: rgba(98, 224, 155, 0.958);
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
}
.A_p1 .swiperChild1 .A_p1-s1 button::before,
.A_p1 .swiperChild2 .A_p1-s1 button::before,
.A_p1 .swiperChild3 .A_p1-s1 button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 204, 135, 0.5);
  top: -100%;
  left: 0;
  transition: top 0.5s ease;
  z-index: 0;
}
.A_p1 .swiperChild1 .A_p1-s1 button:hover::before,
.A_p1 .swiperChild2 .A_p1-s1 button:hover::before,
.A_p1 .swiperChild3 .A_p1-s1 button:hover::before {
  top: 0;
}
.A_p1 .swiperChild1 .A_p1-s1 button:hover,
.A_p1 .swiperChild2 .A_p1-s1 button:hover,
.A_p1 .swiperChild3 .A_p1-s1 button:hover {
  color: black;
}
.A_p1 .swiperChild1 .A_p1-s2,
.A_p1 .swiperChild2 .A_p1-s2,
.A_p1 .swiperChild3 .A_p1-s2 {
  width: 40%;
}
.A_p1 .swiperChild1 .A_p1-s2 img,
.A_p1 .swiperChild2 .A_p1-s2 img,
.A_p1 .swiperChild3 .A_p1-s2 img {
  width: 700px;
  max-width: 100%;
  height: auto;
}
@media (max-width: 900px) {
  .A_p1 .swiperChild1,
  .A_p1 .swiperChild2,
  .A_p1 .swiperChild3 {
    display: flex !important;
    justify-content: space-evenly !important;
  }
  .A_p1 .A_p1-s1 h1 {
    font-size: 40px !important;
  }
  .A_p1 .A_p1-s1 button {
    width: 140px !important;
    height: 30px !important;
  }
  .A_p1 .A_p1-s1 h2 {
    font-size: 15px !important;
  }
  .A_p1 .A_p1-s2 img {
    width: 90% !important;
    max-width: 500px !important;
  }
}

.A_p2 {
  width: 95%;
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.A_p2 .A_p2-boxs1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.A_p2 .A_p2-boxs1 .A_p2-boxs1-child h1 {
  color: rgb(41, 202, 156);
  font-size: 50px;
  margin-bottom: 10px;
}
.A_p2 .A_p2-boxs1 .A_p2-boxs1-child p {
  font-size: 20px;
  margin-bottom: 30px;
}
.A_p2 .A_p2-boxs1 .A_p2-boxs1-child button {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  background-color: rgba(98, 224, 155, 0.958);
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
}
.A_p2 .A_p2-boxs1 .A_p2-boxs1-child button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 204, 135, 0.5);
  top: -100%;
  left: 0;
  transition: top 0.5s ease;
  z-index: 0;
}
.A_p2 .A_p2-boxs1 .A_p2-boxs1-child button:hover::before {
  top: 0;
}
.A_p2 .A_p2-boxs1 .A_p2-boxs1-child button:hover {
  color: black;
}
.A_p2 .A_p2-boxs2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.A_p2 .A_p2-boxs2 img {
  display: block;
  width: 800px;
}

.ww {
  transform: translateX(50%);
  transform: translateY(20%);
  margin-bottom: 230px;
}

.ww2 {
  margin-top: 120px;
  margin-left: 4px;
}

.containerr {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.auth-forms {
  display: flex;
  flex-direction: column;
}

.form,
.sign-up-form {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttonB {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonB:hover {
  background-color: #218838;
}

.toggle-link {
  color: #007bff;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
}

.A_p3_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.A_p3_cont .article-dad {
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
.A_p3_cont .article-dad .article_child1 {
  margin: auto;
}
.A_p3_cont .article-dad .article_child1 h1 {
  font-size: 50px;
  color: rgb(41, 202, 156);
}
.A_p3_cont .article-dad .article_child1 p {
  font-size: 20px;
}
.A_p3_cont h1 {
  margin-bottom: 20px;
}
.A_p3_cont .A_p3 {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
  align-items: center;
  margin-bottom: 100px;
  background-repeat: no-repeat;
  border: solid 1px grey;
  border-radius: 30px;
}
.A_p3_cont .A_p3 .containerrr .slider {
  cursor: pointer;
}
.A_p3_cont .A_p3 .containerrr .input-group {
  width: 500px;
  margin-bottom: 45px;
  margin-top: 50px;
}
.A_p3_cont .A_p3 .containerrr .input-text {
  border: none;
  background-color: transparent;
}
.A_p3_cont .A_p3 .containerrr label {
  color: rgba(13, 163, 48, 0.8470588235);
}
.A_p3_cont .A_p3 .containerrr2 {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.A_p3_cont .A_p3 .containerrr2 .additional-info {
  display: block;
}
.A_p3_cont .A_p3 .containerrr2 .additional-info .c_text {
  margin-left: -180px;
  text-align: center;
  font-size: 20px;
  margin-top: -60px;
  font-weight: 600;
}
.A_p3_cont .A_p3 .containerrr2 .additional-info .c_text span {
  font-size: 40px;
}
.A_p3_cont .A_p3 .containerrr2 .additional-info .c_text2 {
  margin-left: -180px;
  text-align: center;
  font-size: 20px;
  margin-top: 39px;
  font-weight: 600;
}
.A_p3_cont .A_p3 .containerrr2 .additional-info .c_text2 span {
  font-size: 30px;
}
.A_p3_cont .A_p3 .containerrr2 .additional-info .line {
  width: 390px;
  height: 1px;
  background-color: #00c073;
  margin-left: -180px;
}
.A_p3_cont .A_p3 .containerrr2 .info-button {
  width: 160px;
  height: 40px;
  color: #ffffff;
  background-color: rgba(0, 165, 19, 0.6117647059);
  border: solid 2px rgb(21, 189, 21);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: all 0.7s ease;
  cursor: pointer;
}

.A_p6 {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 80px;
}
.A_p6 .K_p1 {
  width: 100%;
  height: 450px;
  background-image: url(https://hamkorbank.uz/assets/cache_image/products/physical/uzcard/hero_xl_1867x0_2fb.webP);
  background-position: right;
}
.A_p6 .K_p1 .h1-cont {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 500px;
  height: 300px;
}
.A_p6 .K_p1 .h1-cont h1 {
  font-size: 45px;
  padding: 20px;
  color: #014c10;
}
.A_p6 .K_p1 button {
  width: 170px;
  height: 50px;
  background-color: #00c073;
  border: none;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
  margin-left: 20px;
  background-image: linear-gradient(135deg, #00c073, #008d54);
}
.A_p6 .K_p1 button:hover {
  background-image: linear-gradient(135deg, #008d54, #00c073);
  color: #ffffff;
  transform: translateY(-1px) scale(1.01);
}
.A_p6 .K_p1 button:active {
  transform: translateY(1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.A_p4 {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
}
.A_p4 .haqida-boxs1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.A_p4 .haqida-boxs1 .h-b1 {
  width: 50%;
}
.A_p4 .haqida-boxs1 .h-b1 h1 {
  font-size: 53px;
  font-weight: 600;
  line-height: 1.4;
}
.A_p4 .haqida-boxs1 .h-b1 h1 span {
  color: #17b197;
}
.A_p4 .haqida-boxs1 .h-b2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.A_p4 .haqida-boxs1 .h-b2 img {
  width: 500px;
}

.A_p5 {
  width: 100%;
  margin-bottom: 100px;
  color: black;
}
.A_p5 .omonatend {
  margin-bottom: 50px;
  width: 100%;
  height: 480px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://hamkorbank.uz/assets/cache_image/mobile-app/mobile_app_phys_xl_1867x0_2fb.webP);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.A_p5 .omonatend .omonatend1 {
  margin-left: 20px;
}
.A_p5 .omonatend .omonatend1 h1 {
  margin-bottom: 30px;
  font-size: 50px;
}
.A_p5 .omonatend .omonatend1 h1 span {
  color: green;
}
.A_p5 .omonatend .omonatend1 p {
  margin-bottom: 10px;
  font-size: 25px;
}
.A_p5 .omonatend .omonatend1 .mobile {
  margin-top: 40px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.A_p5 .omonatend .omonatend1 .mobile h3 {
  color: green;
  font-size: 20px;
  margin-bottom: 12px;
}
.A_p5 .omonatend .omonatend1 .mobile img {
  width: 100px;
}
.A_p5 .omonatend .omonatend2 {
  margin-bottom: -97px;
}

.A_p0 .omonatend {
  margin-bottom: 50px;
  width: 100%;
  height: 480px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://hamkorbank.uz/assets/cache_image/mobile-app/mobile_app_phys_xl_1867x0_2fb.webP);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.A_p0 .omonatend .omonatend1 {
  margin-left: 20px;
}
.A_p0 .omonatend .omonatend1 h1 {
  margin-bottom: 30px;
  font-size: 50px;
}
.A_p0 .omonatend .omonatend1 h1 span {
  color: green;
}
.A_p0 .omonatend .omonatend1 p {
  margin-bottom: 10px;
  font-size: 25px;
}
.A_p0 .omonatend .omonatend1 .mobile {
  margin-top: 40px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.A_p0 .omonatend .omonatend1 .mobile h3 {
  color: green;
  font-size: 20px;
  margin-bottom: 12px;
}
.A_p0 .omonatend .omonatend1 .mobile img {
  width: 100px;
}
.A_p0 .omonatend .omonatend2 {
  margin-bottom: -97px;
}

.A_p7 .Contact {
  margin-top: 100px;
  margin-bottom: 100px;
}
.A_p7 .Contact .Cp1 {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://hamkorbank.uz/assets/cache_image/mobile-app/mobile_app_phys_xl_1867x0_2fb.webP);
}
.A_p7 .Contact .Cp1 .Cp1_boxs2 img {
  width: 700px;
}
.A_p7 .Contact .Cp1 .Cp1_boxs1 h1 {
  font-size: 50px;
  color: #00b569;
  margin-left: 35px;
  margin-bottom: 5px;
}
.A_p7 .Contact .Cp1 .Cp1_boxs1 h2 {
  font-size: 40px;
  color: rgb(1, 70, 1);
  margin-left: 35px;
  margin-bottom: 30px;
}
.A_p7 .Contact .Cp1 .Cp1_boxs1 p {
  font-size: 30px;
  color: rgb(1, 70, 1);
  margin-left: 35px;
}

.A_p9 {
  width: 100;
}
.A_p9 .chat-container {
  max-width: 100%;
  padding-bottom: 100px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.A_p9 .chat-container h2 {
  text-align: center;
  color: #333;
}
.A_p9 .chat-container .saved-name {
  margin: 10px 0;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}
.A_p9 .chat-container .marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  position: relative;
}
.A_p9 .chat-container .marquee .marquee-content {
  display: inline-flex;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.A_p9 .chat-container .marquee .marquee-content:hover {
  animation-play-state: paused;
}
.A_p9 .chat-container .message {
  border-left: 4px solid #2196f3;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px;
  width: 300px;
  height: 150px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease;
}
.A_p9 .chat-container .message:hover {
  background-color: transparent;
}
.A_p9 .chat-container .message .message-image {
  display: flex;
  justify-content: end;
  align-items: start;
  margin-left: -20px;
  width: 100%;
  height: 30px;
}
.A_p9 .chat-container .message .message-image img {
  cursor: pointer;
}
.A_p9 .chat-container .message .message-name {
  font-weight: bold;
  color: #2196f3;
}
.A_p9 .chat-container .message .message-name img {
  width: 30px;
}
.A_p9 .chat-container .message .message-name span {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
.A_p9 .chat-container .message .message-text {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  display: block;
  flex-direction: column;
  white-space: normal;
  padding: 1px 3px;
}
.A_p9 .chat-container .input-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.A_p9 .chat-container .input-container input {
  padding: 12px; /* Kengroq padding */
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 70%;
  font-size: 16px; /* Kattaroq font */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.A_p9 .chat-container .input-container input:focus {
  border-color: #4caf50; /* Fokusda rang o'zgarishi */
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
.A_p9 .chat-container .input-container input::-moz-placeholder {
  color: #aaa; /* Placeholder rangi */
}
.A_p9 .chat-container .input-container input::placeholder {
  color: #aaa; /* Placeholder rangi */
}
.A_p9 .chat-container .message-input {
  display: flex;
  justify-content: center;
  width: 100%;
}
.A_p9 .chat-container .message-input input {
  padding: 12px; /* Kengroq padding */
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 70%;
  font-size: 16px; /* Kattaroq font */
  transition: border-color 0.3s ease;
}
.A_p9 .chat-container .message-input input:focus {
  border-color: #4caf50; /* Fokusda rang o'zgarishi */
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
.A_p9 .chat-container .button {
  padding: 2px 20px;
  border: none;
  background-color: #54ad57;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; /* Kattaroq font */
  position: relative; /* Pseudoelementlar uchun */
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.A_p9 .chat-container .button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(76, 175, 80, 0.2); /* Tugma hover holati */
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 5px;
}
.A_p9 .chat-container .button:hover {
  background-color: #45a049; /* Tugma hover holatida rang o'zgarishi */
}
.A_p9 .chat-container .button:hover::before {
  opacity: 1; /* Hover holatida ko'rinadi */
}
.A_p9 .chat-container .btnSend {
  border: none;
  background-color: transparent;
}
.A_p9 .chat-container .btnSend img {
  width: 70px;
  height: 50px;
  cursor: pointer;
}
.A_p9 .chat-container .confirmation-message {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  animation: fadeUp 10s forwards;
}
@keyframes fadeUp {
  0% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50px);
  }
}
.A_p9 .chat-container input.invalid {
  border-color: red; /* Noto'g'ri input holati */
}
.A_p9 .chat-container .like-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px; /* Tugma o'lchami */
  color: lightgray; /* Dastlabki oq rang */
  transition: color 0.3s ease; /* Rang o'zgarishi */
}
.A_p9 .chat-container .like-button.liked {
  color: red; /* Bosilganda qizil rang */
}

.NavPage {
  margin-top: 100px;
}
.NavPage .NavPageW {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.NavPage .NavPageW .NavPageBox1 {
  margin-bottom: -50px;
}
.NavPage .NavPageW .NavPageBox1 h2 {
  font-size: 25px;
  font-weight: 200;
}
.NavPage .NavPageW .NavPageBox1 h2 p {
  font-size: 20px;
  color: rgb(139, 133, 133);
  margin-bottom: 20px;
}
.NavPage .NavPageW .NavPageBox1 img {
  width: 330px;
  margin-bottom: 20px;
}
.NavPage .NavPageW .NavPageBox2 {
  display: block;
}
.NavPage .NavPageW .NavPageBox2 ul li {
  color: hsla(155, 66%, 39%, 0.885);
  position: relative;
  list-style: none;
  margin-top: 33px;
  font-size: 20px;
}
.NavPage .NavPageW .NavPageBox2 ul li:hover, .NavPage .NavPageW .NavPageBox2 ul li.active {
  color: hsla(155, 66%, 39%, 0.885) !important;
  transition: color 0.3s;
}
.NavPage .NavPageW .NavPageBox2 ul li:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 2px;
  background: hsla(155, 66%, 39%, 0.885);
  transform: scaleX(0);
  transition: transform 0.3s;
}
.NavPage .NavPageW .NavPageBox2 ul li:hover:after, .NavPage .NavPageW .NavPageBox2 ul li.active:after {
  transform: scaleX(1);
}
.NavPage .NavPageW .NavPageBox3 ul li {
  color: hsla(155, 66%, 39%, 0.885);
  position: relative;
  list-style: none;
  margin-top: 25px;
  font-size: 20px;
}
.NavPage .NavPageW .NavPageBox3 ul li:hover, .NavPage .NavPageW .NavPageBox3 ul li.active {
  color: hsla(155, 66%, 39%, 0.885) !important;
  transition: color 0.3s;
}
.NavPage .NavPageW .NavPageBox3 ul li:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 2px;
  background: hsla(155, 66%, 39%, 0.885);
  transform: scaleX(0);
  transition: transform 0.3s;
}
.NavPage .NavPageW .NavPageBox3 ul li:hover:after, .NavPage .NavPageW .NavPageBox3 ul li.active:after {
  transform: scaleX(1);
}
.NavPage .NavPageW .NavPageBox3 .li {
  font-size: 22px;
}
.NavPage .NavPageW .NavPageBox4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.NavPage .NavPageW .NavPageBox4 h4 {
  font-size: 25px;
  color: #00ffc8;
}
.NavPage .NavPageW .NavPageBox4 img {
  width: 160px;
}
.NavPage .NavPageWW {
  margin-top: 60px;
  border-top: solid 1px grey;
}
.NavPage .NavPageWW span {
  display: flex;
  align-items: center;
  margin-left: 88px;
  margin-bottom: 10px;
  margin-top: 20px;
  gap: 20px;
}

.Omonatlarr {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
}
.Omonatlarr .Omonatlar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: solid 1px gray;
  margin-bottom: 40px;
  border-radius: 20px;
  padding-bottom: 20px;
}
.Omonatlarr .Omonatlar button {
  position: absolute;
  left: 45%;
  bottom: 5%;
  width: 200px;
  height: 40px;
  background-color: #00c073;
  border: none;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
  background-image: linear-gradient(135deg, #00c073, #008d54);
}
.Omonatlarr .Omonatlar button:hover {
  background-image: linear-gradient(135deg, #008d54, #00c073);
  color: #ffffff;
  transform: translateY(-1px) scale(1.01);
}
.Omonatlarr .Omonatlar button:active {
  transform: translateY(1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.Omonatlarr .Omonatlar .nextB {
  position: absolute;
  left: 42%;
  bottom: 60px;
  width: 250px;
  height: 40px;
  cursor: text;
  font-size: 25px;
}
.Omonatlarr .Omonatlar .nextB img {
  margin-left: 65px;
  width: 80px;
  cursor: pointer;
}
.Omonatlarr .Omonatlar_x {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.Omonatlarr .Omonatlar_x .aboutsDad {
  margin-top: 140px;
  height: 100%;
  width: 745px;
}
.Omonatlarr .Omonatlar_x .aboutsDad .nameW h1 {
  font-size: 46px;
  color: #00b569;
  border-radius: 10px;
  margin-left: 30px;
}
.Omonatlarr .Omonatlar_x .aboutsDad .nameW h1 span {
  font-size: 44px;
}
.Omonatlarr .Omonatlar_x .aboutsDad .haqidaW {
  margin-top: 12px;
  width: 400px;
  height: 125px;
  font-size: 35px;
  margin-left: 30px;
}
.Omonatlarr .Omonatlar_x .aboutsDad .ssD {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Omonatlarr .Omonatlar_x .aboutsDad .ssD .muddatiW {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  width: 250px;
  height: 70px;
  border: solid 1px green;
  border-radius: 5px;
}
.Omonatlarr .Omonatlar_x .aboutsDad .ssD .muddatiW p {
  display: flex;
  justify-content: start;
  align-items: center;
}
.Omonatlarr .Omonatlar_x .aboutsDad .ssD .foiziW {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  width: 250px;
  height: 70px;
  border: solid 1px green;
  border-radius: 5px;
}
.Omonatlarr .Omonatlar_x .aboutsDad .ssD .foiziW p {
  display: flex;
  justify-content: start;
  align-items: center;
}
.Omonatlarr .Omonatlar_x .aboutsDad .ssD .tuldirishW {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  width: 270px;
  height: 70px;
  border: solid 1px green;
  border-radius: 5px;
}
.Omonatlarr .Omonatlar_x .aboutsDad .ssD .tuldirishW p {
  display: flex;
  justify-content: start;
  align-items: center;
}
.Omonatlarr .Omonatlar_x .image {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 655px;
}
.Omonatlarr .omonatend {
  margin-bottom: 50px;
  width: 100%;
  height: 480px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://hamkorbank.uz/assets/cache_image/mobile-app/mobile_app_phys_xl_1867x0_2fb.webP);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Omonatlarr .omonatend .omonatend1 {
  margin-left: 20px;
}
.Omonatlarr .omonatend .omonatend1 h1 {
  margin-bottom: 30px;
  font-size: 50px;
}
.Omonatlarr .omonatend .omonatend1 h1 span {
  color: green;
}
.Omonatlarr .omonatend .omonatend1 p {
  margin-bottom: 10px;
  font-size: 25px;
}
.Omonatlarr .omonatend .omonatend1 .mobile {
  margin-top: 40px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.Omonatlarr .omonatend .omonatend1 .mobile h3 {
  color: green;
  font-size: 20px;
  margin-bottom: 12px;
}
.Omonatlarr .omonatend .omonatend1 .mobile img {
  width: 100px;
}
.Omonatlarr .omonatend .omonatend2 {
  margin-bottom: -97px;
}

.Kartalar {
  margin-top: 100px;
}
.Kartalar .K_p1 {
  width: 100%;
  height: 450px;
  background-image: url(https://hamkorbank.uz/assets/cache_image/products/physical/uzcard/hero_xl_1867x0_2fb.webP);
  background-position: right;
}
.Kartalar .K_p1 .h1-cont {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 500px;
  height: 300px;
}
.Kartalar .K_p1 .h1-cont h1 {
  font-size: 45px;
  padding: 20px;
  color: #014c10;
}
.Kartalar .K_p1 p {
  font-size: 30px;
  margin-left: 20px;
  color: #00995f;
}
.Kartalar .Ktalar {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.Kartalar .Ktalar img {
  width: 70px;
  margin-top: 20px;
  margin-left: 257px;
}

.K_p2 .cards {
  display: grid;
  grid-gap: 20px;
  width: 100%;
  margin-top: 100px;
}
.K_p2 .cards .cardW {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: solid 1px grey;
  border-radius: 10px;
}
.K_p2 .cards .cardW h1 {
  font-size: 60px;
  text-shadow: 1px 3px 1px rgb(0, 255, 132);
  color: #218838;
  margin-left: 50px;
}
.K_p2 .cards .cardW h2 {
  color: brown;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
}
.K_p2 .cards .cardW .p_cont {
  width: 600px;
}
.K_p2 .cards .cardW .p_cont p {
  text-shadow: 1px 1px 1px rgba(249, 189, 184, 0.7568627451);
  margin-left: 50px;
}
.K_p2 .cards .cardW button {
  width: 220px;
  height: 37px;
  margin-left: 50px;
  margin-top: 60px;
  border: 2px solid rgb(0, 132, 50);
  color: #4caf50;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  transition: color 0.4s, border-color 0.4s;
}
.K_p2 .cards .cardW button::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #4caf50;
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.4s;
}
.K_p2 .cards .cardW button:hover {
  border-color: #4caf50;
}
.K_p2 .cards .cardW button:hover::after {
  transform: translateX(-50%) scaleX(1);
}
.K_p2 .cards .cardW .card_x {
  display: block;
  width: 800px;
}
.K_p2 .cards .card {
  display: block;
  width: 400px;
}
.K_p2 .cards .card img {
  width: 450px;
}

.kreditlarBOX {
  margin-top: 100px;
  width: 100%;
}
.kreditlarBOX .Bgc {
  width: 95%;
  height: 500px;
  background-image: url(../src//img/kred.png);
  background-position: center left;
  background-repeat: no-repeat;
  border-radius: 30px;
  margin-bottom: 30px;
  margin-left: 36px;
}
.kreditlarBOX .kreditlar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 400px;
  border: solid 1px rgb(123, 123, 134);
  border-radius: 30px;
  margin-bottom: 50px;
}
.kreditlarBOX .kreditlar .kreditlarBox1 {
  width: 30%;
}
.kreditlarBOX .kreditlar .kreditlarBox1 .BoxsD {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kreditlarBOX .kreditlar .kreditlarBox1 .BoxsD img {
  width: 400px;
}
.kreditlarBOX .kreditlar .kreditlarBox2 {
  width: 60%;
}
.kreditlarBOX .kreditlar .kreditlarBox2 .Box2_child1 {
  margin-top: -70px;
}
.kreditlarBOX .kreditlar .kreditlarBox2 .Box2_child1 h1 {
  font-size: 45px;
  margin-bottom: 40px;
  color: green;
}
.kreditlarBOX .kreditlar .kreditlarBox2 .Box2_child2 {
  width: 630px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kreditlarBOX .kreditlar .kreditlarBox2 .Box2_child2 .M1 p {
  font-size: 25px;
}
.kreditlarBOX .kreditlar .kreditlarBox2 .Box2_child2 .M1 h3 {
  font-size: 30px;
}
.kreditlarBOX .kreditlar .kreditlarBox2 .Box2_child2 .M2 p {
  font-size: 25px;
}
.kreditlarBOX .kreditlar .kreditlarBox2 .Box2_child2 .M2 h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.kreditlarBOX .kreditlar .kreditlarBox2 .Box2_child2 .M2 button {
  width: 170px;
  height: 50px;
  background-color: #00c073;
  border: none;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
  background-image: linear-gradient(135deg, #00c073, #008d54);
}
.kreditlarBOX .kreditlar .kreditlarBox2 .Box2_child2 .M2 button:hover {
  background-image: linear-gradient(135deg, #008d54, #00c073);
  color: #ffffff;
  transform: translateY(-1px) scale(1.01);
}
.kreditlarBOX .kreditlar .kreditlarBox2 .Box2_child2 .M2 button:active {
  transform: translateY(1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.Ijtimoiyy {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.Ijtimoiyy .marquee-cont {
  margin-top: -200px;
}
.Ijtimoiyy .marquee-cont .marquee {
  display: flex;
  animation: marquee 20s linear infinite;
  position: absolute;
  left: 0;
  gap: 100px;
}
.Ijtimoiyy .marquee-cont .marquee .item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.Ijtimoiyy .marquee-cont .marquee .item .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Ijtimoiyy .marquee-cont .marquee .item .item-old {
  width: 400px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Ijtimoiyy .marquee-cont .marquee .item .item-old .item-old-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Ijtimoiyy .marquee-cont .marquee .item .item-old .item-old-text .item-old-text-child {
  width: 300px;
  height: 250px;
}
.Ijtimoiyy .marquee-cont .marquee .item .item-old .item-old-text .item-old-text-child .nex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  gap: 20px;
}
.Ijtimoiyy .marquee-cont .marquee .item .item-old .item-old-text .item-old-text-child .nex .img {
  width: 100px;
}
.Ijtimoiyy .marquee-cont .marquee .item .item-old .item-old-text .item-old-text-child .nex h4 {
  font-size: 35px;
}
.Ijtimoiyy .marquee-cont .marquee .item .item-old .item-old-text .item-old-text-child h5 {
  font-size: 25px;
  color: blue;
  margin-bottom: 20px;
}
.Ijtimoiyy .marquee-cont .marquee .item .item-old .item-old-text .item-old-text-child a {
  font-size: 30px;
  text-decoration: none;
}
.Ijtimoiyy .marquee-cont .marquee .item button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: all 3s;
  border: none;
}
.Ijtimoiyy .marquee-cont .marquee .item button img {
  width: 50px;
  cursor: pointer;
}
.Ijtimoiyy .marquee-cont .marquee .item img {
  width: 250px;
}
.Ijtimoiyy .marquee-cont:hover .marquee {
  animation-play-state: paused;
}

.Haqida {
  margin-top: 100px;
  width: 100%;
}
.Haqida .haqida-boxs1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Haqida .haqida-boxs1 .h-b1 {
  width: 50%;
}
.Haqida .haqida-boxs1 .h-b1 h1 {
  font-size: 53px;
  font-weight: 600;
  line-height: 1.4;
}
.Haqida .haqida-boxs1 .h-b1 h1 span {
  color: #17b197;
}
.Haqida .haqida-boxs1 .h-b2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.Haqida .haqida-boxs1 .h-b2 img {
  width: 500px;
}
.Haqida .haqida-boxs2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 60px;
}
.Haqida .haqida-boxs2 .h-b2-child1 {
  width: 45%;
}
.Haqida .haqida-boxs2 .h-b2-child1 p {
  font-size: 30px;
}
.Haqida .haqida-boxs2 .h-b2-child2 .grandf {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Haqida .haqida-boxs2 .h-b2-child2 .grandf .book1 {
  width: 270px;
  height: 150px;
}
.Haqida .haqida-boxs2 .h-b2-child2 .grandf .book1 .lllDAD {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.Haqida .haqida-boxs2 .h-b2-child2 .grandf .book1 .lllDAD .lll h2 {
  font-size: 60px;
  color: gray;
}
.Haqida .haqida-boxs2 .h-b2-child2 .grandf .book1 .lllDAD .lll h2 p {
  font-size: 40px;
}
.Haqida .haqida-boxs2 .h-b2-child2 .grandf .book1 .line {
  width: 250px;
  height: 2px;
  background-color: rgb(255, 0, 0);
}
.Haqida .haqida-boxs3 {
  position: relative;
  padding: 20px;
  overflow: hidden;
}
.Haqida .haqida-boxs3 marquee {
  display: block;
  font-size: 20px;
  padding: 10px 0;
}
.Haqida .haqida-boxs3 marquee .haqida-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.Haqida .haqida-boxs3 marquee .haqida-cards .haqida-cardw {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Haqida .haqida-boxs3 marquee .haqida-cards .haqida-cardw .haqida-card_x {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 400px;
  position: relative;
  overflow: hidden;
  transition: background 1.7s ease;
  z-index: 5;
}
.Haqida .haqida-boxs3 marquee .haqida-cards .haqida-cardw .haqida-card_x .info {
  position: absolute;
  left: 25px;
  bottom: 10px;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  color: rgb(255, 0, 0);
  z-index: 7;
}
.Haqida .haqida-boxs3 marquee .haqida-cards .haqida-cardw .haqida-card_x .info h4 {
  margin-bottom: 5px;
}
.Haqida .haqida-boxs3 marquee .haqida-cards .haqida-cardw .haqida-card_x .info h6 {
  margin-bottom: 5px;
}
.Haqida .haqida-boxs3 marquee .haqida-cards .haqida-cardw .haqida-card_x .info img {
  width: 100%;
}
.Haqida .haqida-boxs3 marquee .haqida-cards .haqida-cardw .haqida-card_x:hover {
  background: linear-gradient(to bottom right, #99fad3, rgba(0, 255, 0, 0));
  opacity: 0.8;
}
.Haqida .haqida-boxs3 marquee .haqida-cards .haqida-cardw .haqida-card_x:hover .info {
  opacity: 1 !important;
  transform: translateX(0);
}

.Contact {
  margin-top: 100px;
}
.Contact .Cp1 {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://hamkorbank.uz/assets/cache_image/mobile-app/mobile_app_phys_xl_1867x0_2fb.webP);
}
.Contact .Cp1 .Cp1_boxs2 img {
  width: 700px;
}
.Contact .Cp1 .Cp1_boxs1 h1 {
  font-size: 50px;
  color: #00b569;
  margin-left: 35px;
  margin-bottom: 5px;
}
.Contact .Cp1 .Cp1_boxs1 h2 {
  font-size: 40px;
  color: rgb(1, 70, 1);
  margin-left: 35px;
  margin-bottom: 30px;
}
.Contact .Cp1 .Cp1_boxs1 p {
  font-size: 30px;
  color: rgb(1, 70, 1);
  margin-left: 35px;
}
.Contact .Cp2 {
  margin-top: 100px;
}
.Contact .Cp2 span {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 50px;
  gap: 50px;
  font-size: 30px;
  border-bottom: solid 2px rgb(77, 92, 85);
}
.Contact .Cp2 span h1 {
  font-size: 30px;
  border-right: solid 1px rgb(77, 92, 85);
}

.App .content2 img {
  width: 400px;
  margin-bottom: -10px;
}
.App .content {
  background-color: #fff;
}
.App .content h2 {
  color: #39af80;
  margin-bottom: 50px;
  font-size: 30px;
}
.App .modall {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 900px;
  height: 66%;
  max-height: 600px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
}
.App .modall .hCont {
  position: absolute;
  top: 10px;
  left: 20%;
}
.App form {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}
.App form input {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}
.App form input:focus {
  border-color: #007bff;
  outline: none;
}
.App form button {
  width: 50%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.App form button:hover {
  background-color: #0056b3;
}
.App p {
  margin: 10px 0;
  color: red;
}
.App h1 {
  text-align: center;
  color: #28a745;
  opacity: 0;
  animation: fadeIn 5s forwards, fadeOut 5s 5s forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.App .close {
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  background-color: transparent;
  font-size: 34px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
}
.App .close:hover {
  background-color: rgb(255, 1, 1);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}/*# sourceMappingURL=style.css.map */